/*
  # RefactorizaciÃ³n de CatÃ¡logo de Motos (Multi-Sucursal)

  ## DescripciÃ³n
  Migra la estructura del catÃ¡logo de motos de "tabla Ãºnica" a "CatÃ¡logo Central + Inventario Distribuido".

  ## Cambios
  1.  Crea tabla `branch_catalog_stock` para manejar existencias por sucursal.
  2.  Migra el stock existente de la tabla `catalog` a la sucursal principal.
  3.  Inicializa stock en 0 para las demÃ¡s sucursales.
  4.  Elimina columna `stock` de la tabla `catalog` (ahora es solo definiciÃ³n global).
*/

BEGIN;

-- 1. Crear tabla de Inventario de Motos por Sucursal
CREATE TABLE IF NOT EXISTS branch_catalog_stock (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  branch_id uuid NOT NULL REFERENCES branches(id) ON DELETE CASCADE,
  catalog_item_id uuid NOT NULL REFERENCES catalog(id) ON DELETE CASCADE,
  stock integer NOT NULL DEFAULT 0,
  test_drive_available boolean DEFAULT false,
  location text,
  last_inventory_check timestamptz,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now(),
  UNIQUE(branch_id, catalog_item_id)
);

-- 2. Migrar Stock Existente
DO $$
DECLARE
  main_branch_id uuid;
  branch_rec record;
BEGIN
  -- Identificar sucursal principal
  SELECT id INTO main_branch_id FROM branches ORDER BY created_at ASC LIMIT 1;

  IF main_branch_id IS NOT NULL THEN
    -- Mover stock existente a la sucursal principal
    INSERT INTO branch_catalog_stock (branch_id, catalog_item_id, stock, test_drive_available)
    SELECT 
      main_branch_id,
      id,
      stock,
      test_drive_available
    FROM catalog;

    -- Inicializar en 0 para las demÃ¡s sucursales
    FOR branch_rec IN SELECT id FROM branches WHERE id != main_branch_id LOOP
      INSERT INTO branch_catalog_stock (branch_id, catalog_item_id, stock, test_drive_available)
      SELECT 
        branch_rec.id,
        id,
        0,
        false
      FROM catalog
      ON CONFLICT (branch_id, catalog_item_id) DO NOTHING;
    END LOOP;
  END IF;
END $$;

-- 3. Limpiar tabla global (catalog)
-- Primero guardamos stock en una columna temporal por si acaso (o simplemente confiamos en la migraciÃ³n)
-- Para seguridad, no borramos las columnas inmediatamente, o las renombramos a deprecated.
-- En este caso, procederemos a eliminar `stock` y `test_drive_available` de `catalog` ya que son datos de sucursal.

ALTER TABLE catalog 
  DROP COLUMN IF EXISTS stock,
  DROP COLUMN IF EXISTS test_drive_available;

-- 4. Habilitar RLS
ALTER TABLE branch_catalog_stock ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Ver stock de mi sucursal o global si soy admin"
  ON branch_catalog_stock
  FOR SELECT
  TO authenticated
  USING (
    branch_id IN (
      SELECT branch_id FROM sales_agents WHERE email = auth.email()
    ) 
    OR 
    exists (select 1 from user_profiles where email = auth.email() and role in ('admin', 'gerente'))
  );

CREATE POLICY "Gerentes actualizan su stock"
  ON branch_catalog_stock
  FOR UPDATE
  TO authenticated
  USING (
    branch_id IN (
      SELECT branch_id FROM sales_agents WHERE email = auth.email()
    )
  )
  WITH CHECK (
    branch_id IN (
      SELECT branch_id FROM sales_agents WHERE email = auth.email()
    )
  );

CREATE POLICY "Admin gestiÃ³n total de stock motos"
  ON branch_catalog_stock
  FOR ALL
  TO authenticated
  USING (
    exists (select 1 from user_profiles where email = auth.email() and role = 'admin')
  );

COMMIT;
